body{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto",sans-serif;
}
header{
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.navbar .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.navbar a{
    margin: 4px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col1{
    display: flex;
    flex-direction: column;
}
.hero-main{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.7;
}
.row1 button{
    background-color: rgb(91, 91, 192);
    border-radius: 5px;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Lucida Sans";
    color: white;
}
.img-placeholder{
    margin: 30px;
    width: 600px;
    height: 200px;
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec1{

}

.sec2{

}

.sec3{

}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
}